*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #181818;
}
#first{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 28px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#first::before{
    content: "";
    background-image: conic-gradient(
       #ff0052 20deg,
        transparent 180deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
#first::after{
    content: 'Loading';
    width: 190px;
    height: 190px;
    background: #010101;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
 @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);

    }
} 