/* Горизонтально */

.box{
    color: white;
    font-size: 2rem;
    width: 500px;
    height: 500px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap; /* Чтоби не переходили на другую строку*/
    display: flex;
} 

.item{
    height: 100%;
    width: 100%;
    flex-shrink: 0;  /* Чтоби item не становился менше 90% */
    text-align: center;
    scroll-snap-align: end;
    scroll-snap-stop: always;
}

.item:nth-child(1){
    background-color: tomato;
}

.item:nth-child(2){
    background-color: aqua;
}

.item:nth-child(3) {
    background-color: maroon;
}

.item:nth-child(4) {
    background-color: teal;
}